* {
  box-sizing: border-box;
}

:root {
  --width-nav: 50ch;
  --width-content: 100ch;

}

body {
  display: grid;

}
@media(min-width: 800px) {
  body {
    grid-template-columns: var(--width-nav) auto;
    grid-column-gap: 4ch;
    grid-template-areas: "nav content";
  }
}



.clear {
  clear:both;
}

img,
.img-responsive {
  object-fit: cover;
  width: 100%;
}

.show-nav #tree {
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
}

#tree {
  --width-nav: 100%;
  position: fixed;
  background-color: #212A30;
  line-height: 1.8;
  height: 100%;

  overflow: scroll;
  overflow-x: hidden;

  top: 0;
  left: 0;
  width: var(--width-nav);
  padding: 1em 1em 2em 1.5em;
  grid-area: nav;

  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

@media(min-width: 800px) {
  #tree {
    max-height: 100vh;
    position: sticky;
    transform: none;
  }


}



#tree h1 {
  font-size: 1.75em;
  margin-bottom: 1em;
  font-weight: normal;
}

#tree ul {
  padding-left: 1em;
  list-style-type: none;
}

#tree a {
  font-size: 0.88em;
  line-height: 2em;
  color: #E4E4E4;
  border-bottom: 1px solid transparent;
}

#tree a:hover {
  text-decoration: none;
  border-bottom: 1px solid #aaa;
}

#tree .active > a {
  display: inline;
  color: #FF8080;
}

#content {
  padding: 1rem 4ch;
  margin-left: 0;
  line-height: 1.45;
  grid-area: content;
  width: var(--width-content);

}


#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  font-weight: normal;
  padding-bottom: 0.25rem;
  font-family: var(--font-headlines);
}

#content h1 {
  font-size: 4.2rem;
  margin: 0 0 1rem;
  padding-bottom: .8rem;
  border-bottom: 2px solid #ccc;
}

#content h2 {
  font-size: 3.1rem;
  margin: 2rem 0 1rem;
  border-bottom: 2px solid #ddd;
}

#content h3 {
  font-size: 2.3rem;
  margin: 1.5rem 0 1rem ;
  border-bottom: 1px solid #eee;
}

#content h4 {
  font-size: 1.77rem;
  margin: 1.5rem 0 .5rem 0;
  border-bottom: 1px solid #eee;
}
#content h5 {
  font-size: 1.33rem;
  margin: 1.5rem 0 .5rem 0;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}
#content h6 {
  font-size: 1rem;
  font-weight: bold;
  margin: 1.5rem 0 .5rem 0;
  border-bottom: 1px solid #eee;
}

#content table {
  width:100%;
  margin: 1em 0;
  padding: 0;
  font-weight: normal;
  text-align: left;
}

#content table tr {
  border-bottom: 2px solid #eeeeee;
}

#content table tr:nth-child(odd){
  background-color: white;
}

#content table tr:nth-child(even){
  background-color: #f5f5f5;
}

#content table tr:hover {
  background-color: #F2F9FF;
}

#content table td,
#content table th {
  margin: 0;
  padding: .5em;
}

#content table th {
  font-weight: bold;
}

#content table th.sub1 {
  padding-left: 2em;
}

#content table th.sub2 {
  padding-left: 4em;
}

#content table thead {
  font-weight:bold;
}

#content table.dl th {
  /* dl class (definition list) is for 2-columns tables that describe properties:
  maximmizes the width of the 2nd (description) column */
  vertical-align: top;
  min-width: 20%;
  white-space:nowrap
}

#content table.dl td {
  vertical-align: top;
  width: 100%;
}

#content ul,
#content ol {
	overflow: hidden;
}

#content figure {
  display: table;
}

#content figcaption {
	display: table-caption;
	caption-side: bottom;
	font-style: italic;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

#content figcaption.center {
	text-align: center;
}

#content figcaption.titleover {
  text-align: center;
	caption-side: top;
}
/*
#content figure.right {
  margin: 0 0 1em 1em;
  float: right;
  clear: right;
}

#content figure.left {
  margin: 0 1em 1em 0;
  float: left;
  clear: left;
}


#content figure.center {
  margin: 1em auto 1em auto;
  clear: both;
}
*/

#content img.mini {
  width: 200px;
}

#content img.mini:hover {
  width: 100%;
}

#content img.fit {
	width: 100%;
}

kbd {
  /* text-shadow: 0 0 2px rgb(255, 255, 255);
  box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
  */
}


kbd.cmd {
  text-shadow: none;
  box-shadow: none;
}

#content p.center {
	text-align:center;
}



/* for the TOC */
#content p.chapter,
#content p.subchapter,
#content p.section,
#content p.subsection {
  line-height:1em;
}
#content p.chapter { padding-top: 1em; padding-left: 1em; padding-bottom:1em; }
#content p.subchapter { padding-left: 4em; }
#content p.section { padding-left: 6em; }
#content p.subsection { padding-left: 8em; }

/* for images sliced in divs, as in http://manual.ardour.org/ardours-interface/about/ */
.hoverimg:hover{ z-index:100; box-shadow: 0 0 .2em .2em lightgreen; }
